<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en"  class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en"  class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en"  class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"   class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
    <script src="index.js"></script>
</head>
<body>
 <div ng-app="indexApp">
     <div ng-Controller="indexController">
        <button type="button" class="btn btn-primary" ng-click="register()"> Register </button>
        <button type="button" class="btn btn-primary" ng-click="loginToProfile()"> Login </button>
     </div>
 </div>
</body>
</html>